<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario Persona</title>
</head>
<form th:action="@{/personas}" th:object="${persona}" method="post">
    <input type="hidden" th:field="*{id}" />
    <label>Nombre:</label>
    <input type="text" th:field="*{nombre}" required>

    <label>Apellido:</label>
    <input type="text" th:field="*{apellido}" required>

    <label>Email:</label>
    <input type="email" th:field="*{email}" required>

    <label>Teléfono:</label>
    <input type="text" th:field="*{telefono}" required>
    
    <button type="submit">Guardar</button>
</form>

</body>
</html>
